<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App uses Bluetooth to connect to controller</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth required</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Aplikacja wykrywa Apple TV i urządzenia AirPlay w sieci lokalnej, żeby wyświetlić quiz na telewizorze.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
	</array>
</dict>
</plist>
